html {
  font-family: Open Sans, Sans-Serif;  
}

body {
  margin: 0;
}

form {
  background-color: #455A64;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  text-align: center;
  width: 50%;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 1.5px;
}

form input{
  border: 0;
  color: #565656;
  display: block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 17.5px auto 17.5px auto;
  max-width: 400px;
  height: 35px;
  width: 90%
}

img {
  height: 35px;
}

.button,
.delete-read{
  background-color: #FFC107;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 800; 
  text-align: center;
}

.read-button {
  float: left;
}

.delete {
  float: right;
}

.button:hover,
.button:disabled,
.delete-read:hover,
.delete-read:disabled {
  background-color: #FFD773;
}
.read .read-button{
  color:#F05A28;
  font-weight:800;
}

.read a, .read .delete {
  border-bottom:1.5px solid #CFD8DC;
  text-decoration
}

.read-button:hover,
.card-url:hover,
.delete:hover  {
  border-bottom: 1px solid #FFC107;
  font-weight: 800;
}

section {
  background-color: #CFD8DC;
  display: flex;
  float: right;
  flex-direction: column;
  height: 800px;
  width: 50%;
  overflow: scroll;
}


p, span{
  color: #FFFFFF;
  text-align: center;
  margin: 5px;
  font-weight: 100;
}

article {
  background-color: #F2F4F4;
  border: 2px solid #455A64;
  margin: 15px auto 0 auto;
  max-width: 500px;
  padding: 5px 10px 5px 10px;
  width: 85%;
}

a, h2 {
  overflow-wrap: break-word;
}

h2 {
  color: #455A64;
  font-weight: 800;
  margin:2px;
}

a {
  color: #607D8B;
  font-weight: 400;
  text-decoration: none;
  
}

button {
  color: #455A64;
  background-color: transparent;
  border: 0;
  font-size:14px;
}

hr {
  border-style: solid;
  color: #CFD8DC;
}

@media only screen and (max-width: 610px) {
  form, 
  section{
    float:none;
    height:auto;
    width:100%;
    max-width: 610px;
    margin:auto;
    min-height:300px;
  }

}

