html {
  font-family: Open Sans, Sans-Serif;  
}

body {
  margin: 0;
}

form {
  background-color: #455A64;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  text-align: center;
  width: 50%;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 1.5px;
}

form input{
  border: 0;
  color: #BBBDBF;
  display: block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 auto 35px auto;
  height: 35px;
  width: 90%
}

img {
  height: 35px;
}

.button {
  background-color: #FFC107;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 800; 
  text-align: center;
}

.button:hover {
  background-color: #FFD773;
}
.read {
  background-color: green;
}

section {
  background-color: #CFD8DC;
  display: flex;
  float: right;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  width: 50%

}

article {
  background-color: #FFFFFF;
  border: 1px solid #455A64;
  margin: 0 auto 0 auto;
  padding: 5px 10px 5px 10px;
  width: 85%;
}

h2 {
  color: #455A64;
  font-weight: 800;
}

a {
  color: #607D8B;
  font-weight: 400;
}

button {
  color: #455A64;
  border: 0;
}

hr {
  color: #CFD8DC;
}

.read {
  float: left;
}

.delete {
  float: right;
}
